
body{
    background-image: url(../imagenes/pascua.jpg);
    background-position: center;
    background-size: cover;
    
}
.uno{color:yellow;}
.dos{color:orange;}
.tres{color: rgb(235, 8, 45);}
.cuatro{color: violet;}
.cinco{color:blue;}
.seis{color:green;}
h1{text-align: center;
margin-top: 300px;}